// color
$color-primary: #901C1C;
$color-secondary:#D3573C;
$color-grey01:#C4C4C4;
$color-grey02:#757575;
$color-grey03:#FAFAFA;
$color-grey04:#312E2E;
$color-orange:#DB8876;
$color-white: #ffffff;
$color-black: #000000;

// typo
$font-family:'DM Sans', sans-serif;


// breakpoints
$breakpoints:(
    tablets: 768px,
    desktops: 1150px
);