.header_nav{
    .nav_list_tags{
        display: flex;
        align-items: center;

        .tag_item{
            margin: 0.6rem 0.5rem;

            &_btn{
                color: $color-primary;
                border: 0.5px solid #C4C4C4;
                border-radius: 11px;
                padding: 0.3rem 1.1rem;
                font-weight: 500;
            }
        }
    }
}