.photographers{

    &_title {
        color: $color-primary;
        font-size: 1.4rem;
        white-space: nowrap;
        position: absolute;
        top: 4.9rem;
        right: 2rem;
    }
    
    @include desktops {
        &_title {
            font-size: 3.6rem;
            top: 4.5rem;
            right: 5rem;
        }

        &_list {
            display: flex;
            flex-wrap: wrap;
            padding-top: 4rem;
            
            .card-photographe {
                width: calc(100% / 3);
            }
        }
    }
}


