.list-tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    .tag-item{
        margin: 0 0.3rem 0.5rem;

        .tag-btn{
            color: $color-primary;
            border: 0.5px solid $color-grey01;
            background-color: $color-white;
            border-radius: 11px;
            padding: 0.3rem 1.1rem;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s;

            &.active, &:hover, &:focus {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }
}